<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
<title>Home | Ruby on Rails Tutorial Sample App</title>
  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
            
<%= link_to image_tag("ruby1.png", alt: "Ruby logo"),
            'https://blog.webhostpython.com/wp-content/uploads/2015/08/Ruby-language-e1440787260291.png' %>